@charset "utf-8";

/* CSS Document */


/*
*this contains  reset.
**html-5-reset-stylesheet
*/


/* ==|== CSS RESET======================= */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
p,
th,
td,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

address,
caption,
cite,
code,
em,
th,
var,
i {
    font-style: normal;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}
h1{
  font-size:18px;
}
h2{
  font-size:16px;
}
h3{
  font-size:14px;
}
h4{
  font-size:12px;
}
h5{
  font-size:10px;
}
ol,
ul,
li {
    list-style: none;
}

img {
    border: 0
}

a {
    text-decoration: none;
    color:#333333;
}
a:visited{
  color: transparent;
}
html {
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}


/*FORM RESET*/

button,
input,
select,
textarea {
    /*font-size: 100%;*/
    /*-webkit-appearance: none;*/
    /*border: none;*/
    /*outline: none*/
  text-indent:4px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: none;
}


/*CLEARFIX
-------------------------------------------------------------- */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* ==|== FONT RESET======================= */

html,
body,
button,
input,
select,
textarea {
    font: 16px/1.5 "苹方", "微软雅黑", Helvetica, tahoma, arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}


/*input,textarea*/

.input-text,
.textarea {
    box-sizing: border-box;
    border: solid 1px #ddd;
    width: 100%;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s
}

.textarea {
    height: auto;
    font-size: 14px;
    padding: 4px
}

.input-text:hover,
.textarea:hover {
    border: solid 1px #3bb4f2
}

.contenter{
  width: 1200px;
  margin: 0 auto;
  min-height: 600px;
}
